1.0.0-rc0/api/v2/ns0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0"
  
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="timeBoundary" type="timeBoundary"/>
  <xs:element name="atlasClassification" type="atlasClassification"/>
  <xs:element name="atlasEntity" type="atlasEntity"/>
  <xs:element name="atlasEntityHeader" type="atlasEntityHeader"/>
  <xs:element name="atlasObjectId" type="atlasObjectId"/>
  <xs:element name="atlasRelatedObjectId" type="atlasRelatedObjectId"/>
  <xs:element name="atlasRelationship" type="atlasRelationship"/>
  <xs:element name="atlasStruct" type="atlasStruct"/>
<xs:complexType name="timeBoundary">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[Captures time-boundary details]]>
    </xs:documentation>
  </xs:annotation>
       <xs:sequence>
              <xs:element name="startTime" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="endTime" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="timeZone" type="xs:string" minOccurs="0">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:simpleType name="atlasTermAssignmentStatus">
  <xs:restriction base="xs:string">
     
    <xs:enumeration value="DISCOVERED"/>
 
    <xs:enumeration value="PROPOSED"/>
 
    <xs:enumeration value="IMPORTED"/>
 
    <xs:enumeration value="VALIDATED"/>
 
    <xs:enumeration value="DEPRECATED"/>
 
    <xs:enumeration value="OBSOLETE"/>
 
    <xs:enumeration value="OTHER"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="atlasTermAssignmentHeader">
       <xs:sequence>
              <xs:element name="termGuid" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="expression" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="description" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="source" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="confidence" type="xs:int" minOccurs="1">
              </xs:element>
              <xs:element name="createdBy" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="displayText" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="relationGuid" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="status" type="atlasTermAssignmentStatus" minOccurs="0">
              </xs:element>
              <xs:element name="steward" type="xs:string" minOccurs="0">
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="atlasClassification">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[An instance of a classification; it doesn't have an identity, this object exists only when associated with an entity.]]>
    </xs:documentation>
  </xs:annotation>
   <xs:complexContent>
    <xs:extension base="atlasStruct">
      <xs:sequence>
              <xs:element name="entityGuid" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="propagate" type="xs:boolean" minOccurs="0">
              </xs:element>
              <xs:element name="validityPeriods" type="timeBoundary" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="atlasEntity">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[An instance of an entity - like hive_table, hive_database.]]>
    </xs:documentation>
  </xs:annotation>
   <xs:complexContent>
    <xs:extension base="atlasStruct">
      <xs:sequence>
              <xs:element name="guid" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="status" type="status" minOccurs="0">
              </xs:element>
              <xs:element name="createdBy" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="updatedBy" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="createTime" type="xs:dateTime" minOccurs="0">
              </xs:element>
              <xs:element name="updateTime" type="xs:dateTime" minOccurs="0">
              </xs:element>
              <xs:element name="version" type="xs:long" minOccurs="0">
              </xs:element>
              <xs:element name="relationshipAttributes" minOccurs="0">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" minOccurs="1" type="xs:string"/>
            <xs:element name="value" minOccurs="1" type="xs:anyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
              </xs:element>
              <xs:element name="classifications" type="atlasClassification" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="meanings" type="atlasTermAssignmentHeader" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:simpleType name="status">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[Status of the entity - can be active or deleted. Deleted entities are not removed from Atlas store.]]>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
     
    <xs:enumeration value="ACTIVE"/>
 
    <xs:enumeration value="DELETED"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="atlasEntityHeader">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[An instance of an entity - like hive_table, hive_database.]]>
    </xs:documentation>
  </xs:annotation>
   <xs:complexContent>
    <xs:extension base="atlasStruct">
      <xs:sequence>
              <xs:element name="guid" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="status" type="status" minOccurs="0">
              </xs:element>
              <xs:element name="displayText" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="classificationNames" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="classifications" type="atlasClassification" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="meaningNames" type="xs:string" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="meanings" type="atlasTermAssignmentHeader" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="atlasObjectId">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[Reference to an object-instance of an Atlas type - like entity.]]>
    </xs:documentation>
  </xs:annotation>
       <xs:sequence>
              <xs:element name="guid" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="typeName" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="uniqueAttributes" minOccurs="0">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" minOccurs="1" type="xs:string"/>
            <xs:element name="value" minOccurs="1" type="xs:anyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:complexType name="atlasRelatedObjectId">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[Reference to an object-instance of AtlasEntity type used in relationship attribute values]]>
    </xs:documentation>
  </xs:annotation>
   <xs:complexContent>
    <xs:extension base="atlasObjectId">
      <xs:sequence>
              <xs:element name="displayText" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="relationshipGuid" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="relationshipAttributes" type="atlasStruct" minOccurs="0">
              </xs:element>
              <xs:element name="relationshipStatus" type="xs:anyType" minOccurs="0">
              </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="atlasRelationship">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[Atlas relationship instance.]]>
    </xs:documentation>
  </xs:annotation>
   <xs:complexContent>
    <xs:extension base="atlasStruct">
      <xs:sequence>
              <xs:element name="guid" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="status" type="xs:anyType" minOccurs="0">
              </xs:element>
              <xs:element name="createdBy" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="updatedBy" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="createTime" type="xs:dateTime" minOccurs="0">
              </xs:element>
              <xs:element name="updateTime" type="xs:dateTime" minOccurs="0">
              </xs:element>
              <xs:element name="version" type="xs:long" minOccurs="0">
              </xs:element>
              <xs:element name="end1" type="atlasObjectId" minOccurs="0">
              </xs:element>
              <xs:element name="end2" type="atlasObjectId" minOccurs="0">
              </xs:element>
              <xs:element name="label" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="propagateTags" type="propagateTags" minOccurs="0">
              </xs:element>
              <xs:element name="propagatedClassifications" type="atlasClassification" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
              <xs:element name="blockedPropagatedClassifications" type="atlasClassification" minOccurs="0" maxOccurs="unbounded">
              </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>

<xs:complexType name="atlasStruct">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[Captures details of struct contents. Not instantiated directly, used only via AtlasEntity, AtlasClassification.]]>
    </xs:documentation>
  </xs:annotation>
       <xs:sequence>
              <xs:element name="typeName" type="xs:string" minOccurs="0">
              </xs:element>
              <xs:element name="attributes" minOccurs="0">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="key" minOccurs="1" type="xs:string"/>
            <xs:element name="value" minOccurs="1" type="xs:anyType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
              </xs:element>
      </xs:sequence>
</xs:complexType>

<xs:simpleType name="propagateTags">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[PropagateTags indicates whether tags should propagate across the relationship instance.
<p>
Tags can propagate:
<p>
NONE - not at all <br>
ONE_TO_TWO - from end 1 to 2 <br>
TWO_TO_ONE - from end 2 to 1  <br>
BOTH - both ways
<p>
Care needs to be taken when specifying. The use cases we are aware of where this flag is useful:
<p>
- propagating confidentiality classifications from a table to columns - ONE_TO_TWO could be used here <br>
- propagating classifications around Glossary synonyms - BOTH could be used here.
<p>
There is an expectation that further enhancements will allow more granular control of tag propagation and will
address how to resolve conflicts.]]>
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
     
    <xs:enumeration value="NONE"/>
 
    <xs:enumeration value="ONE_TO_TWO"/>
 
    <xs:enumeration value="TWO_TO_ONE"/>
 
    <xs:enumeration value="BOTH"/>
  </xs:restriction>
</xs:simpleType>

</xs:schema>