api/v2/application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?enunciate-assumed-base-uri ./?>
<wadl:application xmlns:wadl="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <wadl:doc xmlns:enunciate="http://enunciate.webcohesion.com/" enunciate:generatedBy="Enunciate-2.0"/>
  
  <wadl:grammars>
    <wadl:include href="ns0.xsd"/>
  </wadl:grammars>

  <wadl:resources base="./">

    <wadl:resource path="v2/entity">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Create new entity or update existing entity in Atlas.
Existing entity is matched using its unique guid if supplied or by its unique attributes eg: qualifiedName]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[EntityMutationResponse]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/glossary">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Retrieve all glossaries registered with Atlas]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[offset for pagination purpose]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[Sort order, ASC (default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="200">
          <wadl:doc><![CDATA[List of glossary entities fitting the above criteria]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/glossary">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Create a glossary]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[Glossary definition, terms & categories can be anchored to a glossary
using the anchor attribute when creating the Term/Category]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If Glossary definition has invalid or missing information]]></wadl:doc>
        </wadl:response>
        <wadl:response status="409">
          <wadl:doc><![CDATA[If Glossary definition already exists (duplicate qualifiedName)]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/relationship">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Create a new relationship between entities.]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/relationship">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Update an existing relationship between entities.]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/entity/bulk">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Bulk API to retrieve list of entities identified by its GUIDs.]]></wadl:doc>
        <wadl:request>
          <wadl:param name="guid" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/entity/bulk">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Bulk API to create new entities or update existing entities in Atlas.
Existing entity is matched using its unique guid if supplied or by its unique attributes eg: qualifiedName]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/entity/bulk">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Bulk API to delete list of entities identified by its GUIDs]]></wadl:doc>
        <wadl:request>
          <wadl:param name="guid" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/glossary/categories">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Create glossary category in bulk]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[glossary category definitions]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If ANY Glossary category definition has invalid or missing information]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/glossary/category">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Create glossary category]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[glossary category definition, a category must be anchored to a Glossary when creating
Optionally, terms belonging to the category and the hierarchy can also be defined during creation]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If Glossary category definition has invalid or missing information]]></wadl:doc>
        </wadl:response>
        <wadl:response status="409">
          <wadl:doc><![CDATA[If Glossary category already exists (duplicate qualifiedName)]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/glossary/term">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Create a glossary term]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[Glossary term definition, a term must be anchored to a Glossary at the time of creation
optionally it can be categorized as well]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If Glossary term definition has invalid or missing information]]></wadl:doc>
        </wadl:response>
        <wadl:response status="409">
          <wadl:doc><![CDATA[If Glossary term already exists (duplicate qualifiedName)]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/glossary/terms">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Create glossary terms in bulk]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[glossary term definitions]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If any glossary term definition has invalid or missing information]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get a specific Glossary]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary GUID is invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Glossary]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique glossary identifier]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Update the given glossary]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[Updated glossary definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If Glossary definition has invalid or missing information]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Glossary]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Delete a glossary]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary guid in invalid]]></wadl:doc>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/lineage/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Returns lineage info about entity.]]></wadl:doc>
        <wadl:request>
          <wadl:param name="depth" style="query">
            <wadl:doc><![CDATA[- number of hops for lineage]]></wadl:doc>
          </wadl:param>
          <wadl:param name="direction" style="query">
            <wadl:doc><![CDATA[- input, output or both]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[Bad query parameters]]></wadl:doc>
        </wadl:response>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If no lineage is found for the given entity]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[AtlasLineageInfo]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[- unique entity id]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/search/attribute">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Retrieve data for the specified attribute search query]]></wadl:doc>
        <wadl:request>
          <wadl:param name="attrName" style="query">
            <wadl:doc><![CDATA[Attribute name]]></wadl:doc>
          </wadl:param>
          <wadl:param name="attrValuePrefix" style="query">
            <wadl:doc><![CDATA[Attibute value to search on]]></wadl:doc>
          </wadl:param>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[limit the result set to only include the specified number of entries]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[start offset of the result set (useful for pagination)]]></wadl:doc>
          </wadl:param>
          <wadl:param name="typeName" style="query">
            <wadl:doc><![CDATA[limit the result to only entities of specified type or its sub-types]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[Invalid wildcard or query parameters]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Search results]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/search/basic">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Retrieve data for the specified fulltext query]]></wadl:doc>
        <wadl:request>
          <wadl:param name="classification" style="query">
            <wadl:doc><![CDATA[limit the result to only entities tagged with the given classification or or its sub-types]]></wadl:doc>
          </wadl:param>
          <wadl:param name="excludeDeletedEntities" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[limit the result set to only include the specified number of entries]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[start offset of the result set (useful for pagination)]]></wadl:doc>
          </wadl:param>
          <wadl:param name="query" style="query">
            <wadl:doc><![CDATA[Fulltext query]]></wadl:doc>
          </wadl:param>
          <wadl:param name="typeName" style="query">
            <wadl:doc><![CDATA[limit the result to only entities of specified type or its sub-types]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[Invalid fulltext or query parameters]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Search results]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/search/basic">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Attribute based search for entities satisfying the search parameters]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[Search parameters]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[Tag/Entity doesn't exist or Tag/entity filter is present without tag/type name]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Atlas search result]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/search/dsl">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Retrieve data for the specified DSL]]></wadl:doc>
        <wadl:request>
          <wadl:param name="classification" style="query">
            <wadl:doc><![CDATA[limit the result to only entities tagged with the given classification or or its sub-types]]></wadl:doc>
          </wadl:param>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[limit the result set to only include the specified number of entries]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[start offset of the result set (useful for pagination)]]></wadl:doc>
          </wadl:param>
          <wadl:param name="query" style="query">
            <wadl:doc><![CDATA[DSL query]]></wadl:doc>
          </wadl:param>
          <wadl:param name="typeName" style="query">
            <wadl:doc><![CDATA[limit the result to only entities of specified type or its sub-types]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[Invalid DSL or query parameters]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Search results]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/search/fulltext">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Retrieve data for the specified fulltext query]]></wadl:doc>
        <wadl:request>
          <wadl:param name="excludeDeletedEntities" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[limit the result set to only include the specified number of entries]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[start offset of the result set (useful for pagination)]]></wadl:doc>
          </wadl:param>
          <wadl:param name="query" style="query">
            <wadl:doc><![CDATA[Fulltext query]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[Invalid fulltext or query parameters]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Search results]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/search/relationship">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Relationship search to search for related entities satisfying the search parameters]]></wadl:doc>
        <wadl:request>
          <wadl:param name="excludeDeletedEntities" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="guid" style="query">
            <wadl:doc><![CDATA[Attribute name]]></wadl:doc>
          </wadl:param>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[limit the result set to only include the specified number of entries]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[start offset of the result set (useful for pagination)]]></wadl:doc>
          </wadl:param>
          <wadl:param name="relation" style="query">
            <wadl:doc><![CDATA[relationName]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sortBy" style="query">
            <wadl:doc><![CDATA[sort the result using this attribute name, default value is 'name']]></wadl:doc>
          </wadl:param>
          <wadl:param name="sortOrder" style="query">
            <wadl:doc><![CDATA[sorting order]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[guid is not a valid entity type or attributeName is not a valid relationship attribute]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Atlas search result]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/search/saved">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[the saved search-object]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/search/saved">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[the updated search-object]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/search/saved">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
          <wadl:param name="user" style="query">
            <wadl:doc><![CDATA[User for whom the search is retrieved]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[list of all saved searches for given user]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/types/typedefs">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Bulk retrieval API for retrieving all type definitions in Atlas]]></wadl:doc>
        <wadl:response status="200">
          <wadl:doc><![CDATA[A composite wrapper object with lists of all type definitions]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/types/typedefs">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Bulk create APIs for all atlas type definitions, only new definitions will be created.
Any changes to the existing definitions will be discarded]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[A composite wrapper object with corresponding lists of the type definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[On validation failure for any type definitions]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[A composite wrapper object with lists of type definitions that were successfully
created]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/types/typedefs">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Bulk update API for all types, changes detected in the type definitions would be persisted]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[A composite object that captures all type definition changes]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[On validation failure for any type definitions]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[A composite object with lists of type definitions that were updated]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/types/typedefs">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Bulk delete API for all types]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[A composite object that captures all types to be deleted]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[On validation failure for any type definitions]]></wadl:doc>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/entity/bulk/classification">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Bulk API to associate a tag to multiple entities]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/entity/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Fetch complete definition of an entity given its GUID.]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[AtlasEntity]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[GUID for the entity]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/guid/{guid}">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Entity Partial Update - Add/Update entity attribute identified by its GUID.
Supports only uprimitive attribute type and entity references.
does not support updation of complex types like arrays, maps
Null updates are not possible]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
          <wadl:param name="name" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/guid/{guid}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Delete an entity identified by its GUID.]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[EntityMutationResponse]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[GUID for the entity]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/{guid}/audit">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
          <wadl:param name="count" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
          <wadl:param name="startKey" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/category/{categoryGuid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get specific glossary category]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary category GUID is invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Glossary category]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="categoryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary category]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/category/{categoryGuid}">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Update the given glossary category]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[updated glossary category]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary category guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If Glossary category definition has invalid or missing information]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[glossary category]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="categoryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary category]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/category/{categoryGuid}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Delete a glossary category]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary category guid in invalid]]></wadl:doc>
        </wadl:response>
      </wadl:method>
      <wadl:param name="categoryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary category]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/term/{termGuid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get specific glossary term]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary term GUID is invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Glossary term]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="termGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/term/{termGuid}">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Update the given glossary term]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[updated glossary term]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary term guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If Glossary temr definition has invalid or missing information]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Updated glossary term]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="termGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/term/{termGuid}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Delete a glossary term]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary term guid in invalid]]></wadl:doc>
        </wadl:response>
      </wadl:method>
      <wadl:param name="termGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}/categories">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the categories belonging to a specific glossary]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[offset for pagination purpose]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[ASC (default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[List of associated categories]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}/detailed">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get a specific Glossary]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary GUID is invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Glossary]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique glossary identifier]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}/partial">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Partially update the glossary]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[Map containing keys as attribute names and values as corresponding attribute values]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If partial update parameters are invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Updated glossary]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}/terms">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get terms belonging to a specific glossary]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[starting offset for loading terms]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[ASC(default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[List of terms associated with the glossary]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/relationship/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get relationship information between entities using guid.]]></wadl:doc>
        <wadl:request>
          <wadl:param name="extendedInfo" style="query">
            <wadl:doc><![CDATA[]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/relationship/guid/{guid}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Delete a relationship between entities using guid.]]></wadl:doc>
        <wadl:request>
        </wadl:request>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/search/saved/{guid}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
        </wadl:request>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[Name of the saved search]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/search/saved/{name}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
          <wadl:param name="user" style="query">
            <wadl:doc><![CDATA[User for whom the search is retrieved]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="name" style="template">
        <wadl:doc><![CDATA[Name of the saved search]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/typedefs/headers">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Bulk retrieval API for all type definitions returned as a list of minimal information header]]></wadl:doc>
        <wadl:response status="200">
          <wadl:doc><![CDATA[List of AtlasTypeDefHeader AtlasTypeDefHeader]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
    </wadl:resource>

    <wadl:resource path="v2/entity/guid/{guid}/classifications">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Gets the list of classifications for a given entity represented by a guid.]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[a list of classifications for the given entity guid]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[globally unique identifier for the entity]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/guid/{guid}/classifications">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Adds classifications to an existing entity represented by a guid.]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[globally unique identifier for the entity]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/guid/{guid}/classifications">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Updates classifications to an existing entity represented by a guid.]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/xml" element="atlasClassification">
          </wadl:representation>
        </wadl:request>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[globally unique identifier for the entity]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/uniqueAttribute/type/{typeName}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Fetch complete definition of an entity given its type and unique attribute.

In addition to the typeName path parameter, attribute key-value pair(s) can be provided in the following format

attr:<attrName>=<attrValue>

NOTE: The attrName and attrValue should be unique across entities, eg. qualifiedName

The REST request would look something like this

GET /v2/entity/uniqueAttribute/type/aType?attr:aTypeAttribute=someValue]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[AtlasEntityWithExtInfo]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="typeName" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/uniqueAttribute/type/{typeName}">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Entity Partial Update - Allows a subset of attributes to be updated on
an entity which is identified by its type and unique attribute  eg: Referenceable.qualifiedName.
Null updates are not possible

In addition to the typeName path parameter, attribute key-value pair(s) can be provided in the following format

attr:<attrName>=<attrValue>

NOTE: The attrName and attrValue should be unique across entities, eg. qualifiedName

The REST request would look something like this

PUT /v2/entity/uniqueAttribute/type/aType?attr:aTypeAttribute=someValue]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="typeName" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/uniqueAttribute/type/{typeName}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Delete an entity identified by its type and unique attributes.

In addition to the typeName path parameter, attribute key-value pair(s) can be provided in the following format

attr:<attrName>=<attrValue>

NOTE: The attrName and attrValue should be unique across entities, eg. qualifiedName

The REST request would look something like this

DELETE /v2/entity/uniqueAttribute/type/aType?attr:aTypeAttribute=someValue]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[EntityMutationResponse]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="typeName" style="template">
        <wadl:doc><![CDATA[- entity type to be deleted]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/category/{categoryGuid}/partial">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Partially update the glossary category]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[Map containing keys as attribute names and values as corresponding attribute values]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary category guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If category attributes are invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Updated glossary category]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="categoryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/category/{categoryGuid}/related">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get all related categories (parent and children)]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[offset for pagination purpose]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[ASC (default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[List of related categories]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="categoryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary category]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/category/{categoryGuid}/terms">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get all terms associated with the specific category]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[offset for pagination purpose]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[ASC (default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary category guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[List of associated terms]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="categoryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary category]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/term/{termGuid}/partial">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Partially update the glossary term]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[Map containing keys as attribute names and values as corresponding attribute values]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary term guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If partial attributes are invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Updated glossary term]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="termGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/terms/{termGuid}/assignedEntities">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get all entity headers assigned with the specified term]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[offset for pagination purpose]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[ASC (default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary term guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="termGuid" style="template">
        <wadl:doc><![CDATA[GUID of the term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/terms/{termGuid}/assignedEntities">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Assign the given term to the provided list of entity headers]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[Related Entity IDs to which the term has to be associated]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If ANY of the entity header is invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary guid in invalid]]></wadl:doc>
        </wadl:response>
      </wadl:method>
      <wadl:param name="termGuid" style="template">
        <wadl:doc><![CDATA[Glossary term GUID]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/terms/{termGuid}/assignedEntities">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Remove the term assignment for the given list of entity headers]]></wadl:doc>
        <wadl:request>
          <wadl:doc><![CDATA[List of related entity IDs from which the term has to be dissociated]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
        <wadl:response status="400">
          <wadl:doc><![CDATA[If ANY of the entity header is invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary term guid in invalid]]></wadl:doc>
        </wadl:response>
      </wadl:method>
      <wadl:param name="termGuid" style="template">
        <wadl:doc><![CDATA[Glossary term GUID]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/terms/{termGuid}/related">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get all related terms for a specific term]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[offset for pagination purpose]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[ASC (default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary term guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[List of all related terms]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="termGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}/categories/headers">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the categories belonging to a specific glossary]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[offset for pagination purpose]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[ASC (default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[List of associated categories]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary term]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/glossary/{glossaryGuid}/terms/headers">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get term headers belonging to a specific glossary]]></wadl:doc>
        <wadl:request>
          <wadl:param name="limit" style="query">
            <wadl:doc><![CDATA[page size - by default there is no paging]]></wadl:doc>
          </wadl:param>
          <wadl:param name="offset" style="query">
            <wadl:doc><![CDATA[starting offset for loading terms]]></wadl:doc>
          </wadl:param>
          <wadl:param name="sort" style="query">
            <wadl:doc><![CDATA[ASC(default) or DESC]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[If glossary guid in invalid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[List of terms associated with the glossary]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="glossaryGuid" style="template">
        <wadl:doc><![CDATA[unique identifier for glossary]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/search/saved/execute/{name}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Attribute based search for entities satisfying the search parameters]]></wadl:doc>
        <wadl:request>
          <wadl:param name="user" style="query">
            <wadl:doc><![CDATA[saved-search owner]]></wadl:doc>
          </wadl:param>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[Atlas search result]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="name" style="template">
        <wadl:doc><![CDATA[name of saved-search]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/classificationdef/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the classification definition for the given guid]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given guid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[classification definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[classification guid]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/classificationdef/name/{name}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the classification definition by it's name (unique)]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given name]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[classification definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="name" style="template">
        <wadl:doc><![CDATA[classification name]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/entitydef/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the Entity definition for the given guid]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given guid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Entity definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[entity guid]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/entitydef/name/{name}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the entity definition by it's name (unique)]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given name]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Entity definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="name" style="template">
        <wadl:doc><![CDATA[entity name]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/enumdef/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the enum definition for the given guid]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given guid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[enum definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[enum guid]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/enumdef/name/{name}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the enum definition by it's name (unique)]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given name]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[enum definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="name" style="template">
        <wadl:doc><![CDATA[enum name]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/relationshipdef/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the relationship definition for the given guid]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given guid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[relationship definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[relationship guid]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/relationshipdef/name/{name}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the relationship definition by it's name (unique)]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given name]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[relationship definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="name" style="template">
        <wadl:doc><![CDATA[relationship name]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/structdef/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the struct definition for the given guid]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given guid]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[struct definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[struct guid]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/structdef/name/{name}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get the struct definition by it's name (unique)]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[On Failed lookup for the given name]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[struct definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="name" style="template">
        <wadl:doc><![CDATA[struct name]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/typedef/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[Failed lookup]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Type definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[GUID of the type]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/types/typedef/name/{name}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Get type definition by it's name]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response status="404">
          <wadl:doc><![CDATA[Failed lookup by name]]></wadl:doc>
        </wadl:response>
        <wadl:response status="200">
          <wadl:doc><![CDATA[Type definition]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="name" style="template">
        <wadl:doc><![CDATA[Type name]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/guid/{guid}/classification/{classificationName}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Gets the list of classifications for a given entity represented by a guid.]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[classification for the given entity guid]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="classificationName" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[globally unique identifier for the entity]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/guid/{guid}/classification/{classificationName}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Deletes a given classification from an existing entity represented by a guid.]]></wadl:doc>
        <wadl:request>
        </wadl:request>
      </wadl:method>
      <wadl:param name="classificationName" style="template">
        <wadl:doc><![CDATA[name of the classifcation]]></wadl:doc>
      </wadl:param>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[globally unique identifier for the entity]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/uniqueAttribute/type/{typeName}/classifications">
      <wadl:method name="POST">
        <wadl:doc><![CDATA[Adds classification to the entity identified by its type and unique attributes.]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
      </wadl:method>
      <wadl:param name="typeName" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/uniqueAttribute/type/{typeName}/classifications">
      <wadl:method name="PUT">
        <wadl:doc><![CDATA[Updates classification on an entity identified by its type and unique attributes.]]></wadl:doc>
        <wadl:request>
          <wadl:representation mediaType="application/json">
          </wadl:representation>
          <wadl:representation mediaType="application/json;charset=UTF-8">
          </wadl:representation>
        </wadl:request>
      </wadl:method>
      <wadl:param name="typeName" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/search/saved/execute/guid/{guid}">
      <wadl:method name="GET">
        <wadl:doc><![CDATA[Attribute based search for entities satisfying the search parameters]]></wadl:doc>
        <wadl:request>
        </wadl:request>
        <wadl:response>
          <wadl:doc><![CDATA[Atlas search result]]></wadl:doc>
          <wadl:representation mediaType="application/json;charset=UTF-8"/>
        </wadl:response>
      </wadl:method>
      <wadl:param name="guid" style="template">
        <wadl:doc><![CDATA[Guid identifying saved search]]></wadl:doc>
      </wadl:param>
    </wadl:resource>

    <wadl:resource path="v2/entity/uniqueAttribute/type/{typeName}/classification/{classificationName}">
      <wadl:method name="DELETE">
        <wadl:doc><![CDATA[Deletes a given classification from an entity identified by its type and unique attributes.]]></wadl:doc>
        <wadl:request>
        </wadl:request>
      </wadl:method>
      <wadl:param name="classificationName" style="template">
        <wadl:doc><![CDATA[name of the classification]]></wadl:doc>
      </wadl:param>
      <wadl:param name="typeName" style="template">
        <wadl:doc><![CDATA[]]></wadl:doc>
      </wadl:param>
    </wadl:resource>
  </wadl:resources>
</wadl:application>
